
<form [formGroup]="validationForm" *ngFor="let client of ListClient ; let i=index" >
  <mat-form-field appearance="fill" >
    <!-- <mat-label>Favorite food</mat-label> -->
    <input matInput  value="{{client}}">
  </mat-form-field>

      <mat-form-field appearance="fill"  >
        <!-- <p>{{ListSelect[ListSelect.length-1][0]}}</p> -->
        <mat-label>Choose an option</mat-label>
        <mat-select  >
          <mat-option *ngFor="let list of ListSelect[i]" [value]="list">
            {{list[0]}} {{list[1]}}%</mat-option>
        </mat-select>
      </mat-form-field><br>
    </form>
